body {
  font-family: Arial;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

input,
button {
  padding: 10px;
  margin: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.hidden {
  display: none;
}
